* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background: #5f27cd;
    color: white;
  }
}

html {
  font-size: 10px;
  font-family: Poppins, serif;
}
body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  background: url("bg.jfif") no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alarmMain {
  width: 90%;
  height: 90%;
  background: rgba(109, 109, 109, 0.24) url("bg.jfif") no-repeat center;
  background-blend-mode: difference;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0 #333;

  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 1rem 0 #333;
    transform: scale(1.01);
  }
  .headingMain {
    color: #130f40;
    font-family: Poppins;
    width: 500px;
    text-align: center;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.527);
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.527);
    background-blend-mode: screen;
    padding: 1rem;
    input,
    button {
      cursor: pointer;
      max-width: 310px;
      margin: 1rem;
    }
    input {
      width: 300px;
      outline: none;
      font-weight: 500;
      font-family: Poppins;
      font-size: 1.6rem;
      text-align: center;
      position: relative;
      background-color: #c7ecee;
      color: rgb(78, 76, 76);
      padding: 0.5rem 1rem;
      border: 2px solid rgb(97, 97, 97);
      box-shadow: 0 0 1rem 0 #130f40;

      border-radius: 0.3rem;
    }
    select {
      outline: none;
      font-weight: 500;
      font-family: Poppins;
      font-size: 1.6rem;
      text-align: center;
      position: relative;
      background-color: #c7ecee;
      color: rgb(78, 76, 76);
      padding: 0.5rem 1rem;
      border: 2px solid rgb(97, 97, 97);
      box-shadow: 0 0 1rem 0 #130f40;

      border-radius: 0.3rem;
    }
    button {
      width: 300px;
      outline: none;
      font-weight: 500;
      font-family: Poppins;
      font-size: 1.7rem;
      text-align: center;
      background-color: #c7ecee;
      color: rgb(78, 76, 76);
      padding: 0.5rem 1rem;
      border: 2px solid rgb(97, 97, 97);
      box-shadow: 0 0 1rem 0 #130f40;

      border-radius: 0.3rem;
    }
  }
}

form {
  position: relative;
  &::before,
  &::after {
    --scale: 0;
    --arrow-size: 11px;

    position: absolute;
    top: 40%;
    left: 65%;
    transform: translateX(-50%) translateY(var(--translate-Y, 0))
      scale(var(--scale));
    transition: 200ms transform;
    transform-origin: bottom center;
  }
  &::before {
    --translate-Y: calc(-100% - 10px);

    color: white;
    content: "Click this calender type button to set the time and date.";
    padding: 0.5rem;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.1;
    background-color: #535c68;
    border-radius: 0.3rem;
    text-align: center;
  }

  &:focus::before,
  &:focus::after,
  &:focus-within::before,
  &:focus-within::after {
    --scale: 1;
    animation: alarmNotice 1.2s ease-in-out;
  }

  @keyframes alarmNotice {
    100% {
      --scale: 0;
    }
  }
  &::after {
    --translate-Y: calc(-1 * var(--arrow-size));

    transform-origin: top center;
    content: " ";
    border: var(--arrow-size) solid transparent;
    border-top-color: #535c68;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
  .alarmMain {
    width: 96%;
    height: 96%;
    overflow: hidden !important;
    .headingMain {
      width: 70%;
      text-align: center;
      font-size: 2.35rem;
    }
    form {
      height: 70%;
      width: 70%;
      &::before,
      &::after {
        top: 33%;
        left: 80%;
      }
      &::before {
        min-width: 135px;
      }
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input,
        select {
          width: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 492px) {
  .alarmMain {
    overflow: hidden !important;
    .headingMain {
      width: 84%;
      text-align: center;
      font-size: 2.35rem;
    }
    form {
      min-height: 300px;
      height: auto;
      width: 84%;
      &::before,
      &::after {
        top: 26.5%;
        left: 85%;
      }
      input,
      button,
      select {
        width: 92% !important;
      }
    }
  }
  .alarmsListMain {
    width: 100%;
    #alarmsList {
      width: 100%;
      li {
        width: 80% !important;
      }
    }
  }
  .listContainer {
    h2 {
      width: auto !important;
      font-size: 2.5rem !important;
    }
  }
}

.messageSuccess {
  background-color: lightgreen;
}
.messageError {
  background-color: lightcoral;
}
#message {
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  border-radius: 0.5rem;
  display: none;
}

.listContainer {
  height: 100vh;
  width: 100vw;
  background: url("bg2.jfif") no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  h2 {
    color: #130f40;
    font-family: Poppins;
    width: 500px;
    text-align: center;
    font-size: 3.4rem;
    background-color: rgba(255, 255, 255, 0.527);
  }
}

.alarmsListMain {
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  #alarmsList {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 40%;
      background-color: #341f97;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      margin: 10px 0;
      font-weight: 500;
      color: white;
      div {
        padding: 0.3rem 0.6rem;
        display: inline-block;
        width: 80%;
      }
      span {
        width: 20%;
        padding: 0.3rem 0.6rem;
        background-color: #ff9f43;
        display: inline-block;
      }
      .currentPlaying {
        background-color: yellowgreen;
        font-weight: 700;
      }
    }
  }
}
